<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link  th:href="@{/css/styles.css}" rel="stylesheet" />
    <style>
        .no-underline {
            text-decoration: none;
        }
    </style>

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Linh Kiện Điện Tử</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}">Trang chủ</a></li>

            </ul>
            <form class="d-flex" >
                <button class="btn btn-outline-dark" type="button" th:if="${userId != null}" onclick="window.location.href='/cart'">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                </button>

                <button class="btn btn-outline-dark" type="button" th:unless="${userId != null}" onclick="window.location.href='/login'">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                </button>

                <button class="btn btn-outline-dark" type="button" onclick="window.location.href='/login'" >
                    Login
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200425/pngtree-blue-simulation-creative-integrated-circuit-background-image_334511.jpg'); background-size: cover;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder" >Shop Linh Kiện Điện Tử</h1>
        </div>
    </div>
</header>
<div class="col mb-5" th:each="product : ${product}">

    <div class="card h-100 d-flex">
        <!-- Hiển thị hình ảnh sản phẩm -->
        <div class="image-container">
            <img class="card-img-top" style="height: 300px; width: auto;" th:src="${product.ImgProduct}" alt="Product Image"/>
        </div>
        <!-- Hiển thị thông tin chi tiết sản phẩm -->
        <div class="card-body p-4 d-flex align-items-center">
            <div>
                <h5 class="fw-bolder">
                    <h6 class="no-underline"  th:text="${product.NameProduct}"></h6>
                </h5>
                <!-- Hiển thị giá sản phẩm -->
                Giá:
                <span th:text="${product.PriceProduct}"></span> <br>
                Màu:
                <span th:text="${product.ColorProduct}"></span> <br>
                Mô Tả:
                <span th:text="${product.DesProduct}"></span> <br>
                Số lượng còn:
                <span th:text="${product.soluong}"></span>
            </div>
        </div>
    </div>
</div>


<!-- Section-->

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
